* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: sans-serif
}

.grid {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) repeat(8, 10rem) minmax(1rem, 1fr);
}

.grid-content {
    grid-column: 2/10;
}

p {
    font-size: .9rem
}

@import './variables.scss';
@import './categories.scss';
@import './footer.scss';
@import './header.scss';
@import './hero.scss';
@import './joke.scss';
@import './jokes.scss';
