.hero {
    text-align: center;
    height: 45vh;
    background-image: url(../assets/img/bitmap@3x.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    padding: 3rem 0;

    &  .heading {
        font-size: 3.5rem;
        color: $primary-color;
        font-weight: 200;
        padding: 1rem 0;

        @media only screen and (max-width: $bpsmall) {
            font-size: 2rem;
        }
    }

    &  h3 {
        font-size: 1.7rem;
        font-weight: 200;

        @media only screen and (max-width: $bpsmall) {
            font-size: 1rem;
            margin-bottom: .5rem;
        }
    }

    &  .filter-section {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: $bpsmall) {
            width: 95vw;
            margin: auto;
        }
        
        &  .input {
            padding: .5rem 1rem;
            background-color: transparent;
            border: .15rem solid $border-color;
            width: 30rem;
            font-size: 1.5rem;
            color: $white;
            outline: none;
            border-radius: .3rem;

            @media only screen and (max-width: $bpsmall) {
                width: 100%;
            }

            &::placeholder {
                color: $border-color;
                font-size: 1rem;

                @media only screen and (max-width: $bpsmall) {
                    font-size: .8rem;
                }
            }
        }

        &  .icon {
            transform: translateX(-200%);
            cursor: pointer;
        }

    }
}