.jokes {
    border-top: .1rem solid rgb(231, 231, 231);
    margin-bottom: 3rem;

    &  .header {
        padding: .5rem 1rem;
        background-color: rgb(125, 224, 125);
        color: $white;
        border-radius: 5rem;
        text-transform: uppercase;
        width: max-content;
        margin-bottom: 1rem;
    }

    &  .joke-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;

        @media only screen and (max-width: $bptab) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (max-width: $bpsmall) {
            display: block;
        }

        &  .joke {
            padding: 1rem;
            border: .1rem solid rgb(228, 228, 228);
            cursor: pointer;
            transition: all .3s;

            @media only screen and (max-width: $bpsmall) {
                margin-bottom: 1rem;
            }

            &:hover {
                box-shadow: .1rem .1rem .5rem rgb(233, 233, 233);
            }

            &  h3 {
                font-weight: 600;
                margin-bottom: .5rem;
            }
            &  p {
                font-weight: 100;
                font-size: 1rem;
            }

            &  .cta {
                text-align: right;
                margin-top: 1rem;

                &  .btn {
                    color: $primary-color;
                    text-transform: uppercase;
                    border: none;
                    background-color: transparent;
                    font-size: 1rem;
                }
            }
        }

       &  .cta {
           text-align: right;
           grid-column: 1/-1;

        &  button {
            padding: .5rem 1rem;
            margin-right: .5rem;
            cursor: pointer;
        }
       }
    }
}