// color variables

$primary-orange: #ff5500;
$orange: #ff7300;
$primary-blue: #4b23d7;
$white: #ffffff;
$header-color: #303030;



//  viewports

$bplargest: 64.75em;  //1036px
$bptab: 56.25em;  //900px
$bplarge: 43.75em;  //700px
$bplarge2: 40.63em;  //650px
$bpmedium: 35.25em;  //580px
$bpsmall: 28.13em;  //450px
$bpsmallest: 24.38em;  //390px